* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #b84bd2;
  background-color: rgb(176, 215, 244);
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.title {
  color: #000000;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

.header {
  background-color: aliceblue;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #b84bd2;
  transition: 0.3s;
}

.info {
  height: 200px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-img__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info-info {
  width: 80%;
}

.info-info__subtitle {
  font-family: cursive, sans-serif;
  font-size: 24px;
}

.my-work-path {
  background-color: aliceblue;
}

.my-work-path-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.my-work-path-card {
  width: 80%;
  border: 2px solid #000000;
  padding: 10px;
}

.my-work-path-card__title {
  color: #000000;
  margin-bottom: 10px;
}

.my-skills__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.my-skills__list-item {
  list-style-type: none;
}

.my-skills__icon {
  width: 56px;
  height: 56px;
}

.code-example {
  background-color: aliceblue;
}

.code-example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-example__code {
  color: #000000;
}

.my-projects__title {
  margin-bottom: 25px;
}

.my-projects__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.my-projects__item {
  width: 33%;
  list-style-type: none;
}

.my-projects__img {
  width: 100%;
}

.my-projects__img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.education {
  background-color: aliceblue;
}

.education__subtitle {
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
}

.education-school__map {
  width: 100%;
  height: 400px;
  padding: 0 20px;
  border: none;
}

.languages__list {
  padding-left: 50px;
}

.languages__item {
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
}

.contacts {
  background-color: aliceblue;
}

.contacts-container {
  padding: 15px 0;
}

.contacts {
  font-size: 30px;
}

.contacts-nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacts-nav__item {
  list-style-type: none;
}

.contacts-nav__link-icon {
  width: 50px;
  height: 50px;
}

.contacts-nav__link-icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.footer-container {
  padding: 10px 0;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  list-style-type: none;
}

.footer__logo-img {
  width: 100px;
}

.footer__icon-img {
  width: 70px;
}

.footer__info {
  color: black;
}
